.elementor-681 .elementor-element.elementor-element-fa8bd5a:not(.elementor-motion-effects-element-type-background), .elementor-681 .elementor-element.elementor-element-fa8bd5a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#4D76AA;}.elementor-681 .elementor-element.elementor-element-fa8bd5a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 40px 80px 40px;}.elementor-681 .elementor-element.elementor-element-fa8bd5a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-681 .elementor-element.elementor-element-141db38{text-align:center;}.elementor-681 .elementor-element.elementor-element-141db38 .elementor-heading-title{font-size:74px;color:#FFFFFF;}@media(max-width:1024px){.elementor-681 .elementor-element.elementor-element-141db38 .elementor-heading-title{font-size:64px;line-height:1.6em;}}@media(max-width:767px){.elementor-681 .elementor-element.elementor-element-141db38 .elementor-heading-title{font-size:43px;line-height:2.4em;}}
/*
     FILE ARCHIVED ON 09:57:41 Apr 10, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:00:25 Oct 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 6.492
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 61.315
  LoadShardBlock: 187.238 (3)
  PetaboxLoader3.datanode: 263.814 (5)
  load_resource: 290.014
  PetaboxLoader3.resolve: 159.312
  loaddict: 77.056
*/